.custom-file-container {
  margin-bottom: 15px;
}

.custom-file-label {
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #333333;
  padding: 10px;
  cursor: pointer;
}

.custom-file-label:hover,
.custom-file-input:focus ~ .custom-file-label {
  background-color: #e9ecef;
  color: #555555;
}
.error {
  color: red;
}
.myClass {
  display: flex;
  flex-direction: row;
}
